* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./bg\ image.png");
  /* background-size: cover; */
  /* background-repeat:no-repeat ; */
  background-position: left top;
}
/* Header area style start */
nav {
  margin-top: 40px;
  padding: 24px;
}
.nav-menu {
  transition: 0.3s ease-out;
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
  border-top: 4px solid #3fa46a;
  border-bottom: 4px solid #3fa46a;
  padding: 20px 0;
  margin: 0 20px;
}
.nav-menu:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}

.blog-container {
  padding-top: 50px;
  width: 70%;
  margin: 0 auto;
}
.blog-container a {
  color: #F4BC1C;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
.nav-menu {
  padding: 0 10px;
}
/* Header area style end */


/* Blog page style area start */
.accordion-body, .accordion-button{
  background-color: #202124;
  color:white;
}
/* Blog page style area end */

.box-container {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
}

#question {
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  padding: 60px 10px;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    92.49deg,
    rgba(255, 255, 255, 0.1) 0.18%,
    rgba(255, 255, 255, 0.05) 99.85%
  );
  backdrop-filter: blur(5px);
  margin-bottom: 30px;
}

#display {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 5rem;
  color: white;
  font-size: 32px;
  background-color: #171717;
  border: 2px solid #9dffad;
  border-radius: 15px;
  cursor: pointer;
}

#countdown {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
  display: none;
}
#result {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 400px;
  background-color: #171717;
  border-radius: 15px;
  border: 2px solid #9dffad;
  color: white;
  text-align: center;
  padding: 2rem;
}
#show-time{
  text-align: center;
  color: white;
  margin: 22px 0;
}

.green {
  color: #9dffad;
}
.red {
  color: #F4BC1C;
}
.bold {
  font-weight: 700;
}
.inactive {
  border: 2px solid white !important;
}
.hidden {
  display: none;
}
.title {
  text-align: center;
  color: white;
  margin: 20px 0;
}

.divider-container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
}

.line {
  height: 2px;
  background: white;
  width: 100%;
}

.title2 {
  color: white;
  display: block;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
button {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: 300px;
  height: 50px;
  color: white;
  background-color: #171717;
  border-radius: 10px;
  border: 2px solid #9dffad;
  cursor: pointer;
}

#histories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  color: white;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    92.49deg,
    rgba(255, 255, 255, 0.1) 0.18%,
    rgba(255, 255, 255, 0.05) 99.85%
  );
  backdrop-filter: blur(5px);
  margin-bottom: 20px;
}

#modal-background {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    92.49deg,
    rgba(255, 255, 255, 0.1) 0.18%,
    rgba(255, 255, 255, 0.05) 99.85%
  );
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
}


/* // small and medium devices */
@media only screen and (max-width: 700px) and (max-width: 991px) {
  .box-container {
    padding: 0 20px;
    width: 100%;
  }
  .card {
    flex-direction: column;
    text-align: center;
  }
  .blog-container {
    text-align: center;
    color: yellow;
  }
  #question {
    font-size: 16px;
  }
}
/* // Large devices (desktops, 992px and above till next break point) */
@media (min-width: 992px) {
  #histories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    justify-content: space-around;
  }
  .card {
    flex-direction: column;
    text-align: center;
  }
  .card-body{
    text-align: left;
  }
  .second-title{
    margin-top: 30px;
  }
}
